@using OnlineShoppingECommerceApplication.Frontend.Services
@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <a @onclick="Logout">Logout</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <script>
            setTimeout(function () {
                window.location.href = "/";
            }, 0);
        </script>
    </NotAuthorized>
</AuthorizeView>
@code
{
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    [Inject]
    public CustomAuthStateProvider Auth { get; set; }
    private async void Logout()
    {
        await Auth.MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/");
    }
}
